* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

#navbar::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* opacity: 100; */
}

#navbar {
    display: flex;
    /* border: 2px solid red; */
    height: 46px;
    align-items: center;
    color: white;
    position: relative;
}

#navbar ul {
    display: flex;
    padding-left: 80px;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    text-decoration: none;
    padding-left: 0px;
    color: white;
    margin-left: 52px;
    padding: 7px;
    border-radius: 10px;
    font-size: 1.1rem;
}

#navbar ul li a:hover {
    background-color: white;
    color: black;
}

#navbar .left {
    padding-left: 20px;
}

#navbar .left img {
    height: 45px;
    width: 45px;
    padding-top: 4px;
    padding-bottom: 2px;
}

/* navbar section */
#navbar-section::before {
    content: "";
    position: absolute;
    background: url(https://cdn.pixabay.com/photo/2018/07/31/22/08/lion-3576045_960_720.jpg) no-repeat center center/cover;
    top: 0px;
    left: 0px;
    height: 550px;
    width: 100%;
    z-index: -1;
    opacity: 0.92;
}

#navbar-section {
    height: 506px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#navbar-section h1 {
    font-size: 3.4rem;
    /* padding-bottom: 20px; */
    text-shadow: 2px 2px 1px black;
}

#navbar-section p {
    font-size: 1.5rem;
    text-shadow: 2px 2px 1px black;
    /* margin-bottom: 5px; */
}

/* pet section */
#pets {
    /* border: 2px solid red; */
    height: 288px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pet-section {
    text-align: center;
    text-transform: capitalize;
}

#pets #box {
    /* border: 2px solid red; */
    height: 280px;
    width: 300px;
    border-radius: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
}

#pets .box1 img {
    height: 210px;
    width: 250px;
    border-radius: 30px;
}

#pets .box2 img {
    height: 210px;
    width: 250px;
    border-radius: 30px;
}

#pets .box3 img {
    height: 210px;
    width: 250px;
    border-radius: 30px;
}

#pets2 {
    /* border: 2px solid red; */
    height: 288px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
#pets2 #box{
     /* border: 2px solid red; */
     height: 280px;
    width: 300px;
    border-radius: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
}
#pets2 .box4 img {
    height: 210px;
    width: 250px;
    border-radius: 30px;
}
#pets2 .box5 img {
    height: 210px;
    width: 250px;
    border-radius: 30px;
}
#pets2 .box6 img {
    height: 210px;
    width: 250px;
    border-radius: 30px;
}
/* Nature */
.nature{
    text-align: center;
}
#friendly{
    /* border: 2px solid red; */
    height: 1000px;
}
#friendly img{    
    width: 100%;
    height: 100%;
}
/* Clients */
#our-clients::before{
    content: "";
    position: absolute;
    background: url(https://cdn.pixabay.com/photo/2016/04/20/19/47/wolf-1341881_960_720.jpg) no-repeat center center/cover;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.2;
}
.clients{
    text-align: center;
}
#our-clients{
    position: relative;
    /* border: 2px solid red; */
    height: 350px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* form */
#details::before{
    content: "";
    position: absolute;
    background: url(https://cdn.pixabay.com/photo/2020/03/01/00/55/adventure-4891499_960_720.jpg) no-repeat center center/cover;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
}
#details{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    margin-top: 1px;
}
#details form .form-group{
    font-size: 1.2rem;
}
#details form .form-group input{
    font-size: 1.1rem;
    width: 400px;
    text-align: center;
}
#details button{
    width: 200px;
    font-size: 1.1rem;
    text-align: center;
    cursor: pointer;
}
/* footer */
footer{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1.1rem;
}
/* ---------------------moblie phone------------------- */
@media (max-width: 768px){
    #pets{
        flex-direction: column;
        margin-top:255px ;
    }
    .pet-section {        
        margin-top: -17px;
        font-size: 1.6rem;
    }
    #pets .box2{
        margin: 10px;
    }
    #pets2{
        flex-direction: column;
        margin-top: 510px;
    }
    #pets2 .box5{
        margin: 10px;
    }
    .nature {        
        margin-top: 260px;
        font-size: 1.6rem;
    }
    #navbar{
        flex-direction: column;
    }
    #navbar ul li a {
        margin-right: 50px;
        margin-left: -39px;
        font-size: 1.0rem;
    }
    #navbar-section p {
        font-size: 0.89rem;
    }
    #navbar-section h1 {
    font-size: 2.7rem;
    } 
    .clients{
        font-size: 1.6rem;
    }             
} 
@media (max-width: 477px){
    #navbar ul li a {
        margin-right: 48px;
        margin-left: -50px;
        font-size: 0.51rem;
    }
    #navbar-section h1 {
        font-size: 2.0rem;
    } 
    #navbar-section p {
        font-size: 0.52rem;
    }    
    .pet-section {    
    font-size: 1.1rem;
    margin-bottom: -44px;
}       
    .nature{    
    font-size: 1.1rem;
    margin-top: 230px;
}       
    .clients{    
    font-size: 1.1rem;
}
    #details form .form-group input{
    font-size: 0.80rem;
    padding-left: 5px;
    padding-right: 5px;
}
    #details button{    
    padding-left: 60px;
    padding-right: 60px;    
    font-size: 0.80rem; 
} 
    footer{
    font-size: 0.73rem;
}
    #pets2{
    margin-top: 432px;
}
    #pets #box {        
    height: 290px;
    width: 280px;
}
    #pets2 #box {
    height: 290px;
    width: 280px;
}
#pets .box1 img {
    height: auto;
    margin-top: 8px;
    width: 260px;    
}
#pets .box2 img {
    height: auto;
    margin-top: 8px;
    width: 260px;    
}
#pets .box3 img {
    height: auto;
    margin-top: 8px;
    width: 260px;    
}
#pets2 .box4 img {
    height: auto;
    margin-top: 8px;
    width: 260px;    
}
#pets2 .box5 img {
    height: auto;
    margin-top: 8px;
    width: 260px;    
}
#pets2 .box6 img {
    height: auto;
    margin-top: 8px;
    width: 260px;    
}
}  
